<h1>Movie Lists</h1>
<p>Check out my favorite movies list</p>

    <% @lists.each do |list| %>
      <%= link_to list.name, list_path(list)%>
      <br>
      <br>
      <% end %>

      <%= link_to "Add a list", lists_new_path %>
